{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Volleyball Quiz App</title>
    <!-- Include your stylesheet here -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <!-- Other header content -->

        {% if request.user.is_authenticated %}
            <a href="#" onclick="document.getElementById('logout-form').submit();" class="logout-link">Logout</a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
        {% endif %}
    </header>

    <main>
        {% block content %}
        <!-- Content will be here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>

</body>
</html>
