{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Volleyball Quiz App</title>
    <!-- Include your stylesheet here -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <!-- Other header content -->
    {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display: inline; margin: 0; padding: 0;">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    {% endif %}

    </header>

    <main>
        {% block content %}
        <!-- Content will be here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>

</body>
</html>
